.index{
	display: flex; 
	flex-direction: column;
	align-items: center;
}
.navbar_n{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	background: #2e2828;	
}
a{
	color: #000000;
}
a:hover{
	color: #000000;
}
.box{
	margin: auto;
	background: #2e2828;	
	width: 1454px;
	line-height: 36px;
}

.box a{
	font-size: 12px;
	color: #afafaf;
}
.box a:hover{
	color: #fff;
	
}
.nav_1{
	
	padding-right: 225px;
}
.nav_2{
	padding-left: 9px;
}
.li1 img{
	width: 205px;
	height: 36px;
	margin-right: 45px;
}
.li2 img{
	width: 74px;
	height: 24px;
}
.nav_box a{
	font-size: 16px;
	color: #000;
	vertical-align: center;
}
.a_1 .i{
	font-size: 25px;
	vertical-align: middle;
}
.box_cen{
	line-height: 65px;
}
.w1206_{
	width: 1210px;
}
.input_{
	position: relative;
}
.input_ input{
	width: 240px;
	height: 36px;
	border-radius: 20px;
	outline: none;
	border: none;
	background: #f0f0f0;
	padding: 0px 15px;
	font-size: 13px;
}
.my_input{
	margin-left: 170px;
}
.input_ div{
	position: absolute;
	top: 0;
	right: 12px;
}
